h1{
    color: rgb(0, 0, 0);
    text-align: center;
}
body{
    font-family:Arial, Helvetica, sans-serif;
}
img#me {
    width: 250px;
    margin: 10px auto;
    display: block;
}
img#loading{
    width: 30px;
    margin: 10px auto;
    display: block;
}

#info{
    text-align: center;
    width: 80%;
    margin: 10px auto;
}
form > input{
    border: none;
    margin: 10px;
}
form > input:focus{
    outline: none;
    border: none;
    border-bottom: black 1px solid;
}
form{
    display: flex;
    justify-content: center;
    width: 70%;
    margin: 10px auto;
}

a{
    text-decoration: none;
    color: white;
}
#links{
    display: flex;
    justify-content: space-evenly;
    width: 40%;
    margin: 10px auto;
    background-color: cadetblue;
}